.products {
  &__section {
    padding-block: 150px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
  &__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    column-gap: 10px;
    @include mobile {
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }
  &__title {
    font-size: var(--font-size-title);
    line-height: 1.5;
    font-weight: 500;
    color: var(--color-white);
    margin-bottom: 14px;
    span {
      color: var(--color-green);
    }
  }
  &__desc {
    max-width: 910px;
    font-size: var(--font-size-main);
    color: var(--color-gray);
    font-weight: 200;
  }

  &__swiper-btn {
    display: flex;
    align-items: center;
    column-gap: 5px;
    background-color: var(--color-black);
    height: 83px;
    padding-inline: 14px;
    border-radius: 40px;
    @include tablet {
      height: 65px;
      padding-inline: 12px;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 14px 24px;
    border-radius: 40px;
    color: var(--color-white);
    @include tablet {
      padding: 10px 18px;
    }
    @include hover {
      background-color: var(--color-green);
      color: var(--color-black);
    }
  }
}
